fastapi==0.115.12
uvicorn==0.34.2
sqlalchemy==2.0.40
pymysql==1.1.1
python-dotenv==1.1.0
pydantic==2.11.2
email-validator==2.2.0
slowapi==0.1.9
PyJWT[crypto]==2.12.1
passlib[bcrypt]==1.7.4
bcrypt==4.2.1
pydantic-settings==2.9.1
